------------------------------------------------------------------------
Python
------------------------------------------------------------------------
I'm using VSCode with the Jupyter extension for Jupyter notebooks.

In a conda environment I have installed Jupyter and Python 3.10.19 with the following packages:
    numpy: The foundation for complex number grids.
    numba: Essential. It compiles Python functions to machine code (LLVM) that runs natively. It makes the difference between 1 frame per minute and 60 frames per second.
    matplotlib: For plotting standard images.
    ipympl: Enables interactive plots in VS Code (zoom/pan support inside the notebook).
    scipy: Might need this for finding roots of polynomials.

For the Jupyter extension in VSCode: 
    Use of Widgets in Jupyter Notebooks requires to download supporting files from a 3rd party website. The 3rd party websites are as follows:
    jsDelivr
    UNPKG
    This can be configured in the settings as follows:
    "jupyter.widgetScriptSources": ["jsdelivr.com", "unpkg.com"],
    If the settings are not configured accordingly, Widgets might not render or function correctly. If you already have this setting configured correctly and the widget is still not displaying, it could be because that widget (or specific version) is not available from those sources.



------------------------------------------------------------------------
Julia
------------------------------------------------------------------------
packages:
    Plots
    Pluto
    PlutoUI

in terminal write after entering Julia REPL:
julia> import Pluto
julia> Pluto.run()